<!doctype html>
<html lang="en-US">
    <head>
        <title>Storm Conference Manager</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div style="text-align: center;">
            <form action="/paper" method="POST">
                <label for="title">Title: </label>
                <br/>
                <textarea id="title" name="title" rows="2" cols="80"></textarea>
                <br/>
                <br/>
                <label for="abstract_">Abstract: </label>
                <br/>
                <textarea id="abstract_" name="abstract_" rows="20" cols="80"></textarea>
                <br/>
                <br/>
                <input type="submit" value="Create">
            </form>
        </div>
    </body>
</html>